{% extends "home.html" %}

{% block title %}Login{% endblock %}

{% block active %}
<li><a href="/">Home</a></li>
{% endblock %}

{% block body %}
<div id="home">
  <div align="center">
    <div style="margin-top:10%">
      <h1 class="type"><u>Login</u></h1>

      {% if error %}
      <h4 class="type" style="color:red;">{{error}}</h4>
      {% endif %}
      
      <form method="POST">
	<div class="col-md-4 col-md-offset-4"> 
	<br>
	<div class="form-group">
	  <input type="text" class="form-control input-lg" name="username" placeholder="Username">
	</div>
	<br>
	<div class="form-group">
	  <input type="password" class="form-control input-lg" name="password" placeholder="Password">
	</div>
	<br>
	<input class="btn btn-warning btn-lg" type="submit" name="submit" value="Submit" data-toggle="modal" data-target="#errorModal">
	</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
