{% extends "home.html" %}

{% block title %}Settings{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">

{% block active %}
<li><a href="/">Home</a></li>
{% if session["loggedIn"] %}
<li class="active"><a href="#">Choose</a></li>
<li><a href="list">Your List</a></li>

{% endif %}
{% endblock %}

{% block body %}
<div class="container" id="other">
  <div align="center">
    <br><br><br>
    <h2 class="type"><u>Settings</u></h2>

    {% if error %}
    <h4 class="type" style="color:red;">{{error}}</h4>
    {% endif %}
    
    <div class="container type" style="margin-top:2%">
      <div class="col-md-4 col-md-offset-4">
	
	<form method="POST">
	  
	  <div class="form-group">
	    <h3>Price</h3>
	    <label class="checkbox-inline">
	      <input type="checkbox" name="$" value="">$
	    </label>
	    <label class="checkbox-inline">
	      <input type="checkbox" name="$$" value="">$$
	    </label>
	    <label class="checkbox-inline">
	      <input type="checkbox" name="$$$" value="">$$$
	    </label>
	    <label class="checkbox-inline">
	      <input type="checkbox" name="$$$$" value="">$$$$
	    </label>
	  </div>
	  <div class="form-group">
	    <h3>Type</h3>
	    <input type="text" class="form-control input-lg" name="type" placeholder="all types">
	  </div>
	  <div class="form-group">
	    <h3>Date Range</h3>
	    <h3>(yyyy-mm-dd--yyyy-mm-dd)</h3>
            <div class="input-group date" id="datetimepicker1">
		 <input type="text" class="form-control input-lg" name="date">
            </div>
	    <!--
		<select class="form-control" name="month1">
		  <option value="01">January</option>
		  <option value="02">February</option>
		  <option value="03">March</option>
		  <option value="04">April</option>
		  <option value="05">May</option>
		  <option value="06">June</option>
		  <option value="07">July</option>
		  <option value="08">August</option>
		  <option value="09">September</option>
		  <option value="10">October</option>
		  <option value="11">November</option>
		  <option value="12">December</option>
		</select>
		<select class="form-control" name="day1">
		  <option value="01">1</option>
		  <option value="02">2y</option>
		  <option value="03">3</option>
		  <option value="04">4</option>
		  <option value="05">5</option>
		  <option value="06">6</option>
		  <option value="07">7</option>
		  <option value="08">8</option>
		  <option value="09">9</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
		  <option value="14">14</option>
		  <option value="15">15</option>
		  <option value="16">16</option>
		  <option value="17">17</option>
		  <option value="18">18</option>
		  <option value="19">19</option>
		  <option value="20">20</option>
		  <option value="21">21</option>
		  <option value="22">22</option>
		  <option value="23">23</option>
		  <option value="24">24</option>
		  <option value="25">25</option>
		  <option value="26">26</option>
		  <option value="27">27</option>
		  <option value="28">28</option>
		  <option value="29">29</option>
		  <option value="30">30</option>
		  <option value="31">31</option>
		</select>
		<select class="form-control" name="year1">
		  <option value="2016">2016</option>
		  <option value="2017">2017</option>
		  <option value="2018">2018</option>
		  <option value="2019">2019</option>
		  <option value="2020">2020</option>
		  <option value="2021">2021</option>
		  <option value="2022">2022</option>
		  <option value="2023">2023</option>
		  <option value="2024">2024</option>
		  <option value="2025">2025</option>
		  <option value="2026">2026</option>
		  <option value="2027">2027</option>
		</select>
		<h2>to</h2>
		<select class="form-control" name="month2">
		  <option value="01">January</option>
		  <option value="02">February</option>
		  <option value="03">March</option>
		  <option value="04">April</option>
		  <option value="05">May</option>
		  <option value="06">June</option>
		  <option value="07">July</option>
		  <option value="08">August</option>
		  <option value="09">September</option>
		  <option value="10">October</option>
		  <option value="11">November</option>
		  <option value="12">December</option>
		</select>
		<select class="form-control" name="day2">
		  <option value="01">1</option>
		  <option value="02">2</option>
		  <option value="03">3</option>
		  <option value="04">4</option>
		  <option value="05">5</option>
		  <option value="06">6</option>
		  <option value="07">7</option>
		  <option value="08">8</option>
		  <option value="09">9</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		  <option value="13">13</option>
		  <option value="14">14</option>
		  <option value="15">15</option>
		  <option value="16">16</option>
		  <option value="17">17</option>
		  <option value="18">18</option>
		  <option value="19">19</option>
		  <option value="20">20</option>
		  <option value="21">21</option>
		  <option value="22">22</option>
		  <option value="23">23</option>
		  <option value="24">24</option>
		  <option value="25">25</option>
		  <option value="26">26</option>
		  <option value="27">27</option>
		  <option value="28">28</option>
		  <option value="29">29</option>
		  <option value="30">30</option>
		  <option value="31">31</option>
		</select>
		<select class="form-control" name="year2">
		  <option value="2016">2016</option>
		  <option value="2017">2017</option>
		  <option value="2018">2018</option>
		  <option value="2019">2019</option>
		  <option value="2020">2020</option>
		  <option value="2021">2021</option>
		  <option value="2022">2022</option>
		  <option value="2023">2023</option>
		  <option value="2024">2024</option>
		  <option value="2025">2025</option>
		  <option value="2026">2026</option>
		  <option value="2027">2027</option>
		</select>
		-->
	  </div>
	  <br>

	  <div id="map" style="width: 250px; height: 200px">
	  </div>
	  <input id="coordinates" type="hidden" name="coordinates" value="">
	  <h3>Radius (miles)</h3>
	  <input id="radius" type="text" class="form-control" name="radius" value="20">
	  <div class="buttons" style="margin-top:5%">
	    <input class="btn btn-warning btn-lg" type="submit" name="submit" value="Let's Go!">
	  </div>
	  <br>
	</form>

      </div>
    </div>
  </div>
</div>
<script src="../static/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

{% endblock %}
